:root {
    --light-background: #3f424b;
    --dark-background: #24262b;
    --winecut-green: #60822d;
    --test-color: #ce4242;
    --nav-bar-icon-transition: 0.85s ease;
}

body {
    background-color: var(--dark-background);
}

.welcome-text {
    padding: 20% 0 20%;
    background-color: var(--dark-background);
    position: relative;
    display: -ms-flexbox;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.welcome-text p {
    font-size: 1.4rem;
}

.welcome-text h4 {
    font-size: 1.4rem;
    margin-top: 0;
    text-transform: capitalize;
    display: inline-table;
    border-right: 5px solid white;
    animation: 1.2s cursor-blink infinite ease-in-out;
}

.logo img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40%;
}

.logo a {
    background-color: var(--winecut-green);
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: .3rem;
    padding: 5%;
    display: block;
    margin: 20% auto;
}

.logo {
    width: 100%;
}

#our-products-link{
    transition: 0.7s ease-in-out;
}

@keyframes cursor-blink {
    0% {
        border-right: 3px solid white;
    }
    50% {
        border-right: 3px solid var(--dark-background);
    }
    100% {
        border-right: 3px solid white;
    }
}

.project {
    padding: 30% 5%;
    background-color: var(--light-background);
    border-bottom: 5px solid var(--winecut-green);
    border-top: 5px solid var(--winecut-green);
    /*background-image: url("../imgs/project2.png");*/
}

.project .text {
    margin: 0 10%;
    color: white;
    background-color: var(--dark-background);
    padding: 10%;
    border-radius: 7px;
    border-bottom: 3px solid var(--winecut-green);
    border-left: 3px solid var(--winecut-green);
}

.project .text h2 {
    font-size: 35px;
    border-bottom: 1px solid white;
}

.project .text p {
    color: white;
    line-height: 200%;
}

.about {
    display: flex;
    padding: 25% 5%;
    background-color: var(--dark-background);
    border-bottom: 5px solid var(--winecut-green);
    /*background-image: url("../imgs/about-team.png");*/
}

.about .text {
    margin: 0 10%;
    color: white;
    background-color: var(--dark-background);
    padding: 10%;
    border-radius: 7px;
    border-bottom: 3px solid var(--winecut-green);
    border-left: 3px solid var(--winecut-green);
}

.about .text h2 {
    font-size: 35px;
    border-bottom: 1px solid white;
}

.about .text p {
    color: white;
    line-height: 200%;
}

.contact {
    padding: 25% 5%;
    background-color: var(--light-background);
    border-bottom: 5px solid var(--winecut-green);
    /*background-image: url("../imgs/contact.png");*/
}

.contact .text {
    margin: 0 10%;
    color: white;
    background-color: var(--dark-background);
    padding: 10%;
    border-radius: 7px;
    border-bottom: 3px solid var(--winecut-green);
    border-left: 3px solid var(--winecut-green);
}

.contact .text h2 {
    font-size: 35px;
    border-bottom: 1px solid white;
}

.contact .text p {
    color: white;
    line-height: 200%;
}

.container {
    width: 25%;
    margin: auto;
}

.footer {
    background-color: var(--dark-background);
    padding: 70px 0;
}

.footer-col {
    width: 100%;
}

.footer-col ul {
    list-style: none;
}

.footer-col h4 {
    border-bottom: 1px solid var(--winecut-green);
    transition: 1s ease-in;
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li a {
    margin: 2% 0;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease-in;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}