<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styling Desktop -->
    <link rel="stylesheet" href="../css/default-styling.css">
    <link rel="stylesheet" href="../css/styling-about.css">
    <!-- Fonts & Bootstrap -->
    <link rel="shortcut icon" href="../imgs/winecut-logo3.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/626c8b4022.js" crossorigin="anonymous"></script>
    <title>Our Team</title>
</head>

<body>
    <header class="header">
        <ul class="ul">
            <li class="li" id="drop-down">
                <a class="navbar-link" href="#">
                    <i class="fas fa-caret-down"></i>
                </a>
            </li>

            <li class="li">
                <a class="navbar-link" href="../html/index.html">
                    <i class="fas fa-home" class="nav-icons"></i>
                    <p class="navDescription">Home</p>
                </a>
            </li>
            <li class="li">
                <a class="navbar-link" href="../html/project.html">
                    <i class="fas fa-project-diagram" class="nav-icons"></i>
                    <p class="navDescription">Project</p>
                </a>
            </li>
            <li class="li">
                <a class="navbar-link" href="../html/about.html">
                    <i class="fas fa-users" class="nav-icons"></i>
                    <p class="navDescription">About</p>
                </a>
            </li>
            <li class="li">
                <a class="navbar-link" href="../html/shop.html">
                    <i class="fas fa-shopping-cart" class="nav-icons"></i>
                    <p class="navDescription">Shop</p>
                </a>
            </li>
        </ul>
    </header>

    <div class="about-start">
        <h1>About our Team</h1>
        <p>Expertise in:</p>
        <h4 class="welcome-description"></h4>
    </div>

    <div class="department">
        <h1 class="department-name">administration</h1>
        <ul>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Emily.png" alt="">
                </div>
                <h1 class="name">Emily Weiß</h1>
                <h3 class="role">CEO</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Jakob.png" alt="">
                </div>
                <h1 class="name">Jakob Lugmayr</h1>
                <h3 class="role">CTO</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
        </ul>
    </div>


    <div class="department">
        <h1 class="department-name">Finance</h1>
        <ul>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Friedrich.png" alt="">
                </div>
                <h1 class="name">Friedrich tomek</h1>
                <h3 class="role">Accounting</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Daniela.png" alt="">
                </div>
                <h1 class="name">Daniela Zimmert</h1>
                <h3 class="role">Accounting</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Jakob.png" alt="">
                </div>
                <h1 class="name">Jakob Lugmayr</h1>
                <h3 class="role">Cash Managment</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
        </ul>
    </div>

    <div class="department">
        <h1 class="department-name">IT</h1>
        <ul>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Alex.png" alt="">
                </div>
                <h1 class="name">Alexander Gebhart</h1>
                <h3 class="role">Head of IT</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Tristan.png" alt="">
                </div>
                <h1 class="name">Tristan Urschütz</h1>
                <h3 class="role">Co Developer & Hosting</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
        </ul>
    </div>

    <div class="department">
        <h1 class="department-name">Sales</h1>
        <ul>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Emily.png" alt="">
                </div>
                <h1 class="name">Emily Weiß</h1>
                <h3 class="role">Head of Sales</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Friedrich.png" alt="">
                </div>
                <h1 class="name">Friedrich Tomek</h1>
                <h3 class="role">Customer Service</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
        </ul>
    </div>

    <div class="department">
        <h1 class="department-name">Marketing</h1>
        <ul>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Daniela.png" alt="">
                </div>
                <h1 class="name">Daniela Zimmert</h1>
                <h3 class="role">Social Media</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Felix.png" alt="">
                </div>
                <h1 class="name">Felix Polzer</h1>
                <h3 class="role">Event Oragnizer</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Marianne.png" alt="">
                </div>
                <h1 class="name">Marianne Zischka</h1>
                <h3 class="role">Goar nix</h3>
                <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias magnam praesentium illo beatae qui quisquam obcaecati, dolor vel repellat autem eaque dolores temporibus laboriosam corporis ab sit. Doloremque, labore delectus!</p>
            </li>
        </ul>
    </div>

    <div class="department">
        <h1 class="department-name">Production</h1>
        <ul>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Felix.png" alt="">
                </div>
                <h1 class="name">Felix Polzer</h1>
                <h3 class="role">Sanding</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Tristan.png" alt="">
                </div>
                <h1 class="name">Tristan Urschütz</h1>
                <h3 class="role">Cutting</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
            <li class="person">
                <div class="img">
                    <img src="../imgs/Marianne.png" alt="">
                </div>
                <h1 class="name">Marianne Zischka</h1>
                <h3 class="role">Milling</h3>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, obcaecati animi facilis nisi qui quam illo, aliquid at maxime magnam inventore cupiditate molestias cum ullam corrupti laudantium consequatur itaque fugit.</p>
            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4 class="footerBorder">Copyright & Others</h4>
                    <ul>
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">Datenschutz</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">payment- options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="footerBorder">Online Shop</h4>
                    <ul>
                        <li><a href="#">Neat Lamp</a></li>
                        <li><a href="#">Handmade Candles</a></li>
                        <li><a href="#">Pods/Containers</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="footerBorder">Contact</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <div class="social-links">
                        <a href="mailto:juniorcompany@winecut.at">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a href="https://www.instagram.com/_winecut_">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
<script src="../javascript/script-about.js"></script>