<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- other javascript -->
    <script src="../javascript/script-product.js" defer></script>
    <!-- slideshow -->
    <script src="../javascript/script-image-slider.js" defer></script>
    <link rel="stylesheet" href="../css/styling-slide-show.css">
    <!-- CSS- Linking Desktop -->
    <link rel="stylesheet" href="../css/styling-product.css" media="screen and (min-width: 1140px)" />
    <link rel="stylesheet" href="../css/default-styling.css">
    <!-- CSS -Linking Mobile -->
    <link rel="stylesheet" href="../css-mobile/styling-product-m.css" media="screen and (max-width:1140px)">
    <link rel="stylesheet" href="../css-mobile/default-styling-m.css" media="screen and (max-width:1140px)">
    <!-- Fonts & Bootstrap -->
    <link rel="shortcut icon" href="../imgs/winecut-logo3.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/626c8b4022.js" crossorigin="anonymous"></script>
    <title>Lampe - Amadeus</title>
</head>

<body>
    <header class="header">
        <ul class="ul">
            <li class="li">
                <a class="navbar-link" href="../html/index.html">
                    <i class="fas fa-home" class="nav-icons"></i>
                    <p class="navDescription">Home</p>
                </a>
            </li>
            <li class="li">
                <a class="navbar-link" href="../html/project.html">
                    <i class="fas fa-project-diagram" class="nav-icons"></i>
                    <p class="navDescription">Project</p>
                </a>
            </li>
            <li class="li">
                <a class="navbar-link" href="../html/shop.html">
                    <i class="fas fa-shopping-cart" class="nav-icons"></i>
                    <p class="navDescription">Shop</p>
                </a>
            </li>
        </ul>
    </header>

    <div class="product">
        <h2 class="name">Amadeus - Lampe</h2>
        <div class="card">
            <section class="img-slide">
                <div class="carousel" data-carousel>
                    <button class="carousel-button prev" data-carousel-button="prev">&#10562;</button>
                    <button class="carousel-button next" data-carousel-button="next">&#10563;</button>
                    <ul data-slides>
                        <li class="slide" data-active>
                            <img src="../imgs/amadeus-scaled.png" alt="">
                        </li>
                        <li class="slide">
                            <img src="../imgs/amadeus.png" alt="">
                        </li>
                        <li class="slide">
                            <img src="../imgs/amadeus2.png" alt="">
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi consequatur ut voluptate minus cum praesentium molestias sunt veniam aut architecto. Obcaecati, omnis voluptates a eveniet perspiciatis velit, ipsam qui maxime ab dignissimos magni
                    esse voluptatem necessitatibus id at quidem excepturi tenetur veniam eos saepe, iure deserunt quo accusamus minus! Omnis placeat eum harum alias reprehenderit, veritatis sit aliquam cupiditate facere a distinctio. Ipsum ab, vero cum expedita,
                    facere quasi distinctio aspernatur eius, possimus neque veniam fugit veritatis reiciendis iste atque vel incidunt quos praesentium magnam ipsam unde asperiores! Suscipit dolores soluta delectus necessitatibus! Reiciendis, accusamus recusandae!
                    Ducimus accusantium reprehenderit saepe.</p>
                <div class="buy">
                    <p class="price-p">35€</p>
                    <a href="../others/Bestellformular.pdf" download="Bestellformular" class="contract-download">Bestellformular herunterladen</a>
                </div>
            </section>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4 class="footerBorder">JuniorCompany</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/project">Project</a></li>
                        <li><a href="/shop">Shop</a></li>
                    </ul>
                    <h4 class="footerBorder">Produkte</h4>
                    <ul>
                        <li><a href="/amadeus">Amadeus-Lampe</a></li>
                        <li><a href="/sissi">Sissi-Kerze</a></li>
                        <li><a href="/kunigunde">Kunigunde-Behälter</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="footerBorder">Contact</h4>

                    <div class="social-links">
                        <a href="mailto:juniorcompany@winecut.at" target="_blank">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a href="https://www.instagram.com/_winecut_" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>

