<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -Linking Desktop -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styling-project.css')}}" media="screen and (min-width: 550px)" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default-styling.css')}}" media="screen and (min-width: 550px)" />

    <!-- CSS -Linking Mobile -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css-mobile/styling-project-m.css')}}" media="screen and (max-width: 550px)" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css-mobile/default-styling-m.css')}}" media="screen and (max-width: 550px)"/>

    <!-- Fonts & Bootstrap -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/626c8b4022.js" crossorigin="anonymous"></script>

    <!-- Icon & Name -->
    <link rel="shortcut icon" href="../static/imgs/winecut-logo3.png" />
    <title>Project - Our Vision</title>
</head>

<body>
    <header class="header">
        <ul class="ul">
            <li class="li">
                <a class="navbar-link" href="/">
                    <i class="fas fa-home" class="nav-icons"></i>
                    <p class="navDescription">Home</p>
                </a>
            </li>
            <li class="li">
                <a class="navbar-link" href="/project">
                    <i class="fas fa-project-diagram" class="nav-icons"></i>
                    <p class="navDescription">Project</p>
                </a>
            </li>
            <li class="li">
                <a class="navbar-link" href="/shop">
                    <i class="fas fa-shopping-cart" class="nav-icons"></i>
                    <p class="navDescription">Shop</p>
                </a>
            </li>
        </ul>
    </header>

    <div class="project-items">
        <div class="start">
            <h1 class="main-header">Winecut - Projekt </h1>
       
            <div class="text start">
                <img src="../static/imgs/winecut-bottle-logo.png" alt="" class="winecut-bottle-logo">
                <p class="p-text">
                    Was ist Winecut?
                    Jährlich werden in Österreich rund 270.000 Tonnen Altglas gesammelt. Teilweise werden die alten Weinflaschen auch gewaschen, gereinigt und wiederverwendet. Für die meisten Weinbauern ist es jedoch wirtschaftlicher, jedes Jahr neue Flaschen zum Abfüllen zu benutzen, da die Reinigung alter Flachen sehr gründlich sein muss und daher recht kostspielig ist. Alte und gebrauchte Weinflaschen werden dann oftmals einfach in Lagerhallen gesammelt, liegen gelassen und vergessen.
                </p>
            </div>
        </div>
        
        <div class="production">
            <h1 class="main-header">Production & Products</h1>

            <div class="text production">
                <img src="../static/imgs/production.jpg" alt="" class="production">
                <p>Unsere Produkte werden Lokal, nachhaltig handgefertigt. Der Produktionsstandort ist unsere HTL Mödling, da diese über die notwendigen Maschinen verfügt, Materialien auf Lager hat und zentral gelegen ist. Die Vertriebswege sind kurz welches uns ein effizientes und nachhaltiges arbeiten ermöglicht.</p>
                <img src="../static/imgs/glas-cutting.png" alt="" class="production">
                <p>Die Produkte sind zu 90% nachhaltig, die Flaschen werden geupcycled und unser Holz wird aus Restmaterialien gefertigt welche sonst entsorgt worden wären. Weiters werden die Kerzen aus Rapswachs gefertigt und Handgegossen, somit befinden sich in unseren Kerzen kein Paraffin.</p>
            </div>
        </div>

        <div class="team">
            <h1 class="main-header">Team Winecut</h1>
       
            <div class="text start">
                <img src="../static/imgs/contact.png" alt="" class="contact">
                <p class="p-text">Die Junior Company Winecut besteht aus 8 Schülern der HTL - Mödling und wurde mitte Oktober 2021 gegründet. Das Projekt gibt uns die Möglichkeit unsere Interessen und Ideen umzusetzen. Umweltbewusstsein und Nachhaltigkeit wird dabei großgeschrieben.</p>
                <p>"Junior Company?!", Was soll man darunter verstehen? Die Junior Company ist für uns Schüler eine tolle Gelegenheit Praxiserfahrung zu erlangen & zu sehen wie ein Unternehmen von Innen aussieht und wie es vielleicht nicht aussehen sollte. In einem Schuljahr bauen wir ein Unternehmen & Geschäftsmodel von Grund auf und sind im Team für alle Bereiche die ein Unternehmen hat zuständig.</p>
                <p> Wir sind stets von unserem Projekt begeistert und stehen mit stolz und mehr als 100% hinter dem was Winecut produziert.</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4 class="footerBorder">JuniorCompany</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/project">Project</a></li>
                        <li><a href="/shop">Shop</a></li>
                    </ul>
                    <h4 class="footerBorder">Produkte</h4>
                    <ul>
                        <li><a href="/amadeus">Amadeus-Lampe</a></li>
                        <li><a href="/sissi">Sissi-Kerze</a></li>
                        <li><a href="/kunigunde">Kunigunde-Behälter</a></li>
                    </ul>
                    <h4 class="footerBorder">Impressum</h4>
                    <ul>
                        <li>
                            <p>AT - 2340 Mödling</p>
                            <p>Technikerstraße 1-5</p>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="footerBorder">Contact</h4>

                    <div class="social-links">
                        <a href="mailto:juniorcompany@winecut.at" target="_blank">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a href="https://www.instagram.com/_winecut_" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
<script src="../static/javascript/script-project.js"></script>
