<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS- Linking Desktop -->
    <link rel="stylesheet" href="../css/styling-shop.css" media="screen and (min-width: 550px)" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styling-shop.css')}}" media="screen and (min-width: 550px)"/>

    <link rel="stylesheet" href="../css/default-styling.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default-styling.css')}}">

    <!-- CSS -Linking Mobile -->
    <link rel="stylesheet" href="../css-mobile/styling-shop-m.css" media="screen and (max-width:550px)">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css-mobile/styling-shop-m.css')}}" media="screen and (max-width: 550px)"/>
    <link rel="stylesheet" href="../css-mobile/default-styling-m.css" media="screen and (max-width:550px)">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css-mobile/default-styling-m.css')}}" media="screen and (max-width: 550px)"/>
    <!-- Fonts & Bootstrap -->
    <link rel="shortcut icon" href="../static/imgs/winecut-logo3.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poiret+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/626c8b4022.js" crossorigin="anonymous"></script>
    <title>Winecut - Our Shop</title>
</head>

<body>
    <header class="header">
        <ul class="ul">
            <li class="li">
                <a class="navbar-link" href="/">
                    <i class="fas fa-home" class="nav-icons"></i>
                    <p class="navDescription">Home</p>
                </a>
            </li>
            <li class="li">
                <a class="navbar-link" href="/project">
                    <i class="fas fa-project-diagram" class="nav-icons"></i>
                    <p class="navDescription">Project</p>
                </a>
            </li>
            <li class="li">
                <a class="navbar-link" href="/shop">
                    <i class="fas fa-shopping-cart" class="nav-icons"></i>
                    <p class="navDescription">Shop</p>
                </a>
            </li>
        </ul>
    </header>

    <div class="shop-items">

        <div class="card" id="amadeus-card">
            <div class="card-content">
                <div class="header-card">
                    <h2 class="card-title">Amadeus</h2>
                    <a href="/amadeus" class="button">Mehr Erfahren</a>
                </div>  

                <p class="card-body">Die Lampe Amadeus, schafft eine perfekte, warme Stimmung, das Grüne Licht spiegelt die Nachhaltigkeit wieder.</p>
                <img src="../static/imgs/amadeus-scaled.png" alt="">
                
            </div>
        </div>

        <div class="card" id="sissi-card">
            <div class="card-content">
                <div class="header-card">
                    <h2 class="card-title">Sissi</h2>
                    <a href="/sissi" class="button">Mehr Erfahren</a>
                </div>  

                <p class="card-body">Sissi ist unsere Kerze aus höchster Qualität und bestem Bienenwachs.</p>
                <img src="../static/imgs/sissi-scaled.png" alt="">
                
            </div>
        </div>

        <div class="card" id="kunigunde-card">
            <div class="card-content">
                <div class="header-card">
                    <h2 class="card-title">Kunigunde</h2>
                    <a href="/kunigunde" class="button">Mehr Erfahren</a>
                </div>
                
                <p class="card-body">Kunigunde, der Aufbewahrungsbehälter von Winecut bietet stylistisch und praktisch die beste Ausstattung für Daheim.</p>
                <img src="../static/imgs/kunigunde-scaled.png" alt="">
                
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4 class="footerBorder">JuniorCompany</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/project">Project</a></li>
                        <li><a href="/shop">Shop</a></li>
                    </ul>
                    <h4 class="footerBorder">Produkte</h4>
                    <ul>
                        <li><a href="/amadeus">Amadeus-Lampe</a></li>
                        <li><a href="/sissi">Sissi-Kerze</a></li>
                        <li><a href="/kunigunde">Kunigunde-Behälter</a></li>
                    </ul>
                    <h4 class="footerBorder">Impressum</h4>
                    <ul>
                        <li>
                            <p>AT - 2340 Mödling</p>
                            <p>Technikerstraße 1-5</p>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="footerBorder">Contact</h4>

                    <div class="social-links">
                        <a href="mailto:juniorcompany@winecut.at" target="_blank">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a href="https://www.instagram.com/_winecut_" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
<script src="../static/javascript/script-shop.js"></script>