<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- other javascript -->
    <script src="../static/javascript/script-product.js" defer></script>
    <!-- slideshow -->
    <script src="../static/javascript/script-image-slider.js" defer></script>
    <link rel="stylesheet" href="../css/styling-slide-show.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styling-slide-show.css')}}"/>
    <!-- CSS- Linking Desktop -->
    <link rel="stylesheet" href="../css/styling-product.css" media="screen and (min-width: 1140px)" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styling-product.css')}}" media="screen and (min-width: 1140px)"/>
    <link rel="stylesheet" href="../css/default-styling.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default-styling.css')}}" media="screen and (min-width: 1140px)"/>
    <!-- CSS -Linking Mobile -->
    <link rel="stylesheet" href="../css-mobile/styling-product-m.css" media="screen and (max-width:1140px)">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css-mobile/styling-product-m.css')}}" media="screen and (max-width: 1140px)"/>
    <link rel="stylesheet" href="../css-mobile/default-styling-m.css" media="screen and (max-width:1140px)">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css-mobile/default-styling-m.css')}}" media="screen and (max-width: 1140px)"/>
    <!-- Fonts & Bootstrap -->
    <link rel="shortcut icon" href="../static/imgs/winecut-logo3.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/626c8b4022.js" crossorigin="anonymous"></script>
    <title>Kerze - Sissi</title>
</head>

<body>
    <header class="header">
        <ul class="ul">
            <li class="li">
                <a class="navbar-link" href="/">
                    <i class="fas fa-home" class="nav-icons"></i>
                    <p class="navDescription">Home</p>
                </a>
            </li>
            <li class="li">
                <a class="navbar-link" href="/project">
                    <i class="fas fa-project-diagram" class="nav-icons"></i>
                    <p class="navDescription">Project</p>
                </a>
            </li>
            <li class="li">
                <a class="navbar-link" href="/shop">
                    <i class="fas fa-shopping-cart" class="nav-icons"></i>
                    <p class="navDescription">Shop</p>
                </a>
            </li>
        </ul>
    </header>

    <div class="product">
        <h2 class="name">Sissi - Kerze</h2>
        <div class="card">
            <section class="img-slide">
                <div class="carousel" data-carousel>
                    <button class="carousel-button prev" data-carousel-button="prev">&#10562;</button>
                    <button class="carousel-button next" data-carousel-button="next">&#10563;</button>
                    <ul data-slides>
                        <li class="slide" data-active>
                            <img src="../static/imgs/sissi1.png" alt="">
                        </li>
                        <li class="slide">
                            <img src="../static/imgs/sissi3.png" alt="">
                        </li>
                        <li class="slide">
                            <img src="../static/imgs/sissi2.png" alt="">
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <p class="description">So heißt unsere handgegossene nachhaltige Kerze aus regionalem österreichischem Rapswachs. Durch den knisternden Docht verleiht die Kerze jedem Raum eine entspannte Atmosphäre. Das Glasbehältnis wurde sorgfältig geschliffen und eigenständig gefertigt.</p>
                <div class="buy">
                    <p class="price-p">15€</p>
                    <a href="../static/others/Bestellformular.pdf" download="Bestellformular" class="contract-download" target="_blank">Bestellformular herunterladen</a>
                </div>
            </section>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4 class="footerBorder">JuniorCompany</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/project">Project</a></li>
                        <li><a href="/shop">Shop</a></li>
                    </ul>
                    <h4 class="footerBorder">Produkte</h4>
                    <ul>
                        <li><a href="/amadeus">Amadeus-Lampe</a></li>
                        <li><a href="/sissi">Sissi-Kerze</a></li>
                        <li><a href="/kunigunde">Kunigunde-Behälter</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="footerBorder">Contact</h4>

                    <div class="social-links">
                        <a href="mailto:juniorcompany@winecut.at" target="_blank">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a href="https://www.instagram.com/_winecut_" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>

