<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/test.css">
    <script src="../javascript/script-image-slider.js" defer></script>
</head>
<body>
    <section class="img-slide">
        <div class="carousel" data-carousel>
            <button class="carousel-button prev" data-carousel-button="prev">&#10570;</button>
            <button class="carousel-button next" data-carousel-button="next">&#10571;</button>
            <ul data-slides>
                <li class="slide" data-active>
                    <img src="../imgs/sissi1.png" alt="">
                </li>
                <li class="slide">
                    <img src="../imgs/sissi3.png" alt="">
                </li>
                <li class="slide">
                    <img src="../imgs/sissi2.png" alt="">
                </li>
            </ul>
        </div>
    </section>
</body>
</html>